
@{
    ViewBag.Title = "Questions editor";
}

<h2>Questions types</h2>

<ul>
	<li>
		@Html.ActionLink("Gramma questions", "Index", "GrammaQuestions") 
	</li>
	<li>
		@Html.ActionLink("Lexic questions", "Index", "LexicQuestions") 
	</li>
</ul>